<footer class="footer">
    <div class="container">
      <ul class="footer-nav">
        <li class="footer-item">
          <span class="footer-label">Telefone:</span> 
          <span class="footer-info">(XX) XXXX-XXXX</span>
        </li>
        <li class="footer-item">
          <span class="footer-label">E-mail:</span> 
          <span class="footer-info">contato$minhaaplicacao.com</span>
        </li>
        <li class="footer-item">
          <span class="footer-label">Endereço:</span> 
          <span class="footer-info">Rua XXXX, nº XX - Bairro - Cidade</span>
        </li>
        <li>
            <a href="youtube.com"><i class="fa-brands fa-youtube"></i></a>
        </li>
      </ul>
    </div>
  </footer>