/* navbar.component.css */
.navbar {
    background-color: #0D47A1;
    padding: 10px 0;
  }
  
  .navbar-brand {
    color: #FFFFFF;
    font-size: 24px;
  }

  .navbar-brand:hover {
    color: #1f9bed;
    font-size: 24px;
  }
    
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  header {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;

  }
  
  header h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  
  a {
    margin: 10px;
  }

  a.plus-button {
    font-size: 25px;
    color: #4CAF50;
  }

  a.plus-button:hover {
    color: #1f9bed;
    text-decoration: none;
    font-size: 25px;
  }

  .contador {
    font-weight: bold;
    color: #dcdcdc;
  }
  