<label for="">Nome:</label>
<span>
    {{mongeEscolhido.nome}}
</span>
<br>
<label for="">Idade: </label>
<span>
    {{mongeEscolhido.idade}} 
</span>
<br>
<label for="Ocupação">Ocupação: </label>
<span>
    {{mongeEscolhido.ocupacao}}
</span>
<br>
<label for="Data Nascimento">Data de nascimento: </label>
    <span>
        {{mongeEscolhido.dataNascimento | date}}
    </span>





<section *ngIf="mongeEscolhido.livros">
    <div *ngFor="let livro of mongeEscolhido.livros">
        <label for="">Livro: </label>
        <p> {{livro | json}} </p>
    </div>
</section>


